SECRET_KEY=CHANGE_ME
SUBNET=172.31.214.0/24
DOMAIN=i7wap.xyz
HOSTNAMES=mail.i7wap.xyz
POSTMASTER=postmaster
TLS_FLAVOR=notls
PORTS=25,80,143
AUTH_RATELIMIT_IP=10000/hour
AUTH_RATELIMIT_USER=100000/day
DISABLE_STATISTICS=True
ADMIN=true
WEBMAIL=roundcube
API=true
WEBDAV=none
ANTIVIRUS=clamav
SCAN_MACROS=false
MESSAGE_SIZE_LIMIT=50000000
MESSAGE_RATELIMIT=100000/day
RELAYNETS=
RELAYHOST=
FETCHMAIL_ENABLED=False
RECIPIENT_DELIMITER=+
DMARC_RUA=postmaster
DMARC_RUF=postmaster
DMARC_SEND_REPORTS=false
WELCOME=false
WELCOME_SUBJECT=Welcome
WELCOME_BODY=Welcome
COMPRESSION=none
COMPRESSION_LEVEL=6
FULL_TEXT_SEARCH=en
WEBROOT_REDIRECT=/admin
WEB_ADMIN=/admin
WEB_WEBMAIL=/webmail
WEB_API=/api
SITENAME=Mailbox System
WEBSITE=https://mail.i7wap.xyz
COMPOSE_PROJECT_NAME=mailbox-system
CREDENTIAL_ROUNDS=12
REAL_IP_HEADER=X-Forwarded-For
REAL_IP_FROM=172.31.214.0/24,127.0.0.1/32
REJECT_UNLISTED_RECIPIENT=yes
LOG_LEVEL=INFO
TZ=Asia/Shanghai
DEFAULT_SPAM_THRESHOLD=80
API_TOKEN=CHANGE_ME
FULL_TEXT_SEARCH_ATTACHMENTS=false
INITIAL_ADMIN_ACCOUNT=postmaster
INITIAL_ADMIN_DOMAIN=i7wap.xyz
INITIAL_ADMIN_PW=CHANGE_ME
INITIAL_ADMIN_MODE=ifmissing
